Django>=6.0,<6.1
python-dotenv>=1.0.0
Pillow>=10.0.0
midtransclient>=1.0.0
django-cleanup>=8.0.0
django-jazzmin>=3.0.0
whitenoise>=6.6.0
django-redis>=5.4.0
django-allauth>=64.0.0,<65.0.0
pyjwt>=2.0.0
cryptography>=42.0.0
